main {
    width: 1000px;
    margin: 0 auto;
}

.country, .country:active {
  stroke: #fff;
  stroke-width: 0.5px;
}

.country:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

.text {
  font-size:10px;
  text-transform:capitalize;
}

#container {
  margin: 10px 5%;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  background: #cce7ff;
  width: 650px;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}

.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

#controls{
    border-radius: 10px;
    height: 320px;
    width: 200px;
    margin-top: 20px;
    color: #002469;
    background-color: #8db7f8;
}

#timeline svg {
    margin: 0 0 10px 0px;
    padding-left: 5px;
}

#barchart svg {
    margin: 0 0 10px 0;
    padding-left: 5px;
}

#controls .axis {
  font: 9px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#controls .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

#controls .axis .halo {
  fill: none;
  stroke: rgba(192, 221, 255, 0.67);
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #daeaff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
/*  cursor: crosshair;*/
}

#start {
    width: 100px;
    height: 30px;
    position: relative;
    margin-left: 35px;
    background-color: #c1d9ff;
    border-radius: 5px;
    box-shadow: none;
}

.text {
    font-size: 15px;

}

.axis {
  font: 9px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

 .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 3px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

#barchart .y.label, #timeline .y.label{
    font-size: 0.7em;
}

h1 {
    text-align: center;
}

header{
    background-color: #d6d6d6;
    height: 130px;
    padding: 10px 0 0 0;
    color: #5d5252;
    margin-bottom: 10px;
}

header ul {
  list-style: none;
}
header a {
  color: inherit;
  display: inline-block;
  width: 30%;
  text-align: center;
  transition: background .2s ease-out;
  text-decoration: none;
  
}
header a:hover {
  background-color: #a6b5c4;
  transition: background .2s ease-in;
  border-radius: 2em;
  text-decoration: none;
  color: inherit;
}

header a:active {
    border-radius : 2em;
}

header a:link {
    border-radius : 2em;
}


header li {
  display: inline;
}

nav {
  max-width: 1250px;
  width: 600px;
  margin: 0 auto;
  display: block;
}

#zombiegame{
    width: 1000px;
    padding: 0 80px;
}

#gameframe{
    margin-left: 20px;
}


#legend {
  text-decoration: none;
}

#legend:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
.legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    list-style: none;
    border-radius: 20px;
    }
.legend-labels {
    list-style: none;
}
.legend-source {
    font-size: 100%;
    color: #999;
    clear: both;
    }